/* src/assets/styles/variables.scss */
// 颜色变量
$primary-color: #409EFF; // Element Plus 默认主题色
$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$gray-color: #C0C4CC;
$text-color-primary: #303133;
$text-color-secondary: #606266;
$text-color-placeholder: #909399;

// 布局变量
$header-height: 48px;
$footer-height: 50px;
$content-max-width: 1200px;